{% extends "base.html" %}
{% block title %}New Item{% endblock %}
{% block content %}
<header>
    <h1>New Item</h1>
</header>
<section class="create_item_content">
    <form method="post">
        <div class="form-group">
            <label for="item_url">Item URL</label>
            <input type"text" class="form-control" id="item_url" name="url" placeholder="Enter item URL"/>
        </div>
        <div class="form-group">
            <label for="item_tag">Tag name</label>
            <input type="text" class="form-control" id="item_tag" name="tag_name" placeholder="span" aria-describedby="tagNameHelp"/>
            <small id="tagNameHelp" class="form-text text-muted">What is the HTML tag of the item that contains the price</small>
        </div>
        <div class="form-group">
            <label for="item_query">Query</label> 
            <input type="text" class="form-control" id="item_query"name="query" placeholder='{"id": "..."}' aria-describedby="queryHelp"/>
            <small id="queryHelp" class="form-text text-muted">What is the JSON query would we have to do to find the specific tag with the price?</small>
        </div>
        <button type="submit" class="btn btn-primary">Create Item</button>
    </form>
</section>

{% endblock %}